<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/subPageAll.css}">
    <link rel="stylesheet" th:href="@{/css/hayoung/Hayoung.css}">
    <link rel="stylesheet" th:href="@{/css/hayoung/hy_font.css}">
</head>

<body class="bodyBack_Lee">
<div th:replace="header/header :: header"></div>
<section class=" section_Lee">
    <div class="W100_Lee">
        <div class="W100_Lee">
            <div>
                <p class="section_subTitle_header_Lee ">영화도 보고싶고 드라마도 보고싶고 애니메이션도 보고시펏</p>
            </div>
            <div class="section_subTitle_Lee">
                <p>영화 "명량 · 한산 · 노량" 리뷰</p>
            </div>
            <div class="section_Data_box_Lee Df_JB DF_AC">
                <div class="Df_JB DF_AC W100_Lee">
                    <div class="Df DF_AC">
                        <img th:src="@{/img/hayoung/PHY_icon.png}" alt="" class="W24H24">
                        <p class="ml10_Color mt4_3">PlORIA</p>
                        <p class="ml10_Color">2024-06-20</p>
                    </div>
                    <div class="Color">
                        <a th:href="@{/page/subpage}">돌아가기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 영화 소개  -->
<div class="body_box">
    <div>
        <p>
            <input type="text" class="input-Title" placeholder="main-title"/>
        </p>
<!--        <div class="form-outline" data-mdb-input-init>-->
<!--            <input type="text" id="form20" class="form-control form-icon-trailing" />-->
<!--            <label class="form-label" for="form20">Example label</label>-->
<!--            <span class="trailing pe-auto clear d-none" tabindex="0">✕</span>-->
<!--        </div>-->

<!--     나라를 위한 그의 이야기 -->
        <div>
            <input type="file" class="input-img" placeholder="main-poster" />
<!--            <img class="poster-img" th:src="@{imageUrl02}"/>-->
<!--            <img class="poster-img" th:src="@{imageUrl03}"/>-->
        </div>
    </div>

    <!-- 명대사 구역 -->
    <div class="best-bg">
        <div class="best-ment">
            <p>
                <input type="text" class="input-Bment" placeholder="명대사" />
            </p>
<!--            <p th:text="${bestMent02}"></p>-->
<!--            <p th:text="${bestMent03}"></p>-->
<!--            아직 신에게는 12척의 배가 남아 있사옵니다. - 명량 - -->
<!--            운명을 바꿀 압도적 승리. 의와 불의의 싸움이지. - 한산 - -->
<!--            절대 이렇게 전쟁을 끝내서는 안 된다 - 노량 - -->
        </div>
    </div>


    <div class="part-box">
        <div class="Info-bg">
            <div class="movie-info-t">
                <div class="Input-Info">
                    <p><input type="text" placeholder="감독" /></p>
                    <p><input type="text" placeholder="제작사" /></p>
                    <p><input type="text" placeholder="출연" /></p>
                    <p><input type="text" placeholder="장르" /></p>
                    <p><input type="text" placeholder="개봉일" /></p>
                </div>
            </div>
        </div>
    </div>
<!--    감독 : 김한민<br>-->
<!--    제작사 : ㈜빅스톤 픽쳐스<br>-->
<!--    출연 : 최민식(명량), 박해일(한산), 김윤석(노량)<br>-->
<!--    장르 : 액션, 드라마, 사극, 전쟁, 스릴러<br>-->
<!--    개봉일 : 2014년7월30일(명량) /2022년7월27일(한산) / 2023년12월20일(노량)-->


    <div class="part-box">
        <div class="synopsys">
            <h3 class="h3">─ 영 화 시놉시스 ─</h3>
        </div>
        <div class="synop-bg">
            <div>
                <p class="input-synopTitle">
                    <input type="text"  placeholder="story-Title" />
                </p>
                <p class="input-synopText">
                    <textarea cols="30" rows="20" placeholder="story-text"></textarea>
                </p>
<!--                <p class="story-title">-->
<!--                    <input type="text" placeholder="story-Title" />-->
<!--                </p>-->
<!--                <p class="story-text">-->
<!--                    <textarea cols="30" rows="50" placeholder="story-text"></textarea>-->
<!--                </p>-->
<!--                <p class="story-title">-->
<!--                    <input type="text" placeholder="story-Title" />-->
<!--                </p>-->
<!--                <p class="story-text">-->
<!--                    <textarea cols="30" rows="50" placeholder="story-text"></textarea>-->
<!--                </p>-->

            </div>
        </div>
    </div>


        <div>
            <h3 class="h3">▷▷▷ 리 뷰 ▶▶▶</h3>
        </div>
        <div class="Review-box">
            <div class="review-text">
                <p class="input-reviewTitle">
                    <input type="text" placeholder="review-title" />
                </p>
                <p class="input-reviewText">
                    <textarea cols="20" rows="5" placeholder="story-text"></textarea>
                </p>
            </div>
        </div>
</div>


    <div style="width: 100%; text-align: center;">
        <a th:href="@{/page/hayoung/Hayoung}">HY블로그</a>
        <br>
        <br>
        <a th:href="@{/}"><img class="home-btn" th:src="@{img/hayoung/Home.png}"></a>

    </div>

</section>



<footer>

</footer>
</body>

</html>