<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<h1> 정말로 삭제하시겠습니까? </h1>
<br>
<!-- 삭제버튼 -->
<div>
    <form class="postDelete" th:action="@{'/posts/postDelete/' + ${post.id}}" method="post">
         <input type="submit"
                role="button"
                class="deleteBTN"
                value=" YES " />
         <!--<button type="submit" class="deleteBTN">삭제</button>-->
    </form>
</div>

<!-- 다시 포스트로 -->
<div>
    <a th:href="@{'/posts/' + ${post.id}}" role="button" class="postList"> 취소 </a>
</div>
</body>
</html>